/* Centering the game container in the browser window without affecting its layout */
body {
  margin: 0;  /* Remove default margin */
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Hide overflow */
  background-color: #302E2B;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25vh;
  max-width: 90vw; /* Max width to avoid overflow */
  max-height: 90vh; /* Max height to avoid overflow */
  background-color: #779455;
}

.game-container.game-over {
  opacity: 0.5; 
  pointer-events: none; /* Disables all interactions */
}

.game-over-message {
  color: #d9534f; /* Example color */
  font-size: 2em; /* Example font size */
  margin-top: 20px; /* Example margin */
  /* Additional styling as needed */
}


.current-turn {
  margin-bottom: 2vh; /* Responsive vertical spacing */
  font-size: 2vh; /* Responsive font size */
  /* Additional styling as needed */
}

.game-content {
  display: flex;
  justify-content: center; /* Distribute space between elements */
  align-items: center;
  width: 100%; /* Full width of the container */
}

.rows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw; /* Responsive gap between rows */
}

.circles-row {
  display: flex;
  justify-content: center;
}

.circle, .house {
  position: relative;
  width: 5vw; /* Responsive width */
  height: 5vw; /* Responsive height, maintaining aspect ratio */
  border-radius: 50%;
  background-color: #EBEBD0;
  margin: 0.5vw; /* Responsive margin */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #302E2B;
  font-size: 2.5vw; /* Responsive font size for seed count */
  font-weight: bold;
}

.flipped {
  transform: rotate(180deg);
  /* Ensure the text is still positioned correctly after flipping */
  position: absolute;
  width: 100%;
  text-align: center;
}


.house {
  width: 8vw; /* Larger size for houses */
  height: 8vw;
  background-color: #EBEBD0; /* Different color for houses */
}

.circle:hover, .house:hover {
  cursor: pointer;
}

.circle-index {
  opacity: 0;
  position: absolute;
  top: 1vw;
  left: 1vw;
  font-size: 1.5vw; /* Smaller font size for clarity */
  color: black;
  /* z-index: 2; */
}

